<footer>
    <link href="css/styles-carrito.css" rel="stylesheet">
    <div class="pie-de-pagina">
        <a href="">Inicio</a>
        <a href=""> Nosotros</a>
        <a href=""> Tienda</a>
        <a href=""> Ayuda </a>
    </div>
    <p><i class="fa-regular fa-copyright" style="color: #8f8f8f;"></i> Veganit</p>
</footer>