<link rel="stylesheet" href="/css/style.css">
<header class="header">
    <div class="logo">
      <img src="http://marmacc.alwaysdata.net/logo_veganit_hd2.png">
    </div>
    <div class="nav-bar-top">
      <div class="login">
        <button><a href="/login"> Usuario <i class="fa-solid fa-user"></i></a></button>
      </div>
      <div class="cart">
        <button><a href="/carrito"> Carrito <i class="fa-solid fa-cart-shopping"></i></a></button>
      </div>
      <div class="fav">
        <button><a href="/producto"> Favoritos <i class="fa-solid fa-heart"></i></a></button>
      </div>
    </div>
    <div class="search-bar">
      <form action="">
        <input type="text" placeholder="¿Que estas buscando?">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </header>