<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="utf-8">
        <link href = "css/stylemati.css" rel = "stylesheet">
        <title> Login </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="pagina">
        <%- include("./partials/header")%>
         <main class="main"> 
    <div class="caja" align="center">
           <h1> VEGANIT</h1>
     
           <form method="post"> 
              <label> usuario </label>
              <br>
              <input type="text" name="usuario" id="usuario" style="width: 200px; height: 25px;">
              <br>
              <br>
              <label> contraseña </label>
              <br> 
              <input type="password" name="contraseña" id="contraseña" style="width: 200px; height: 25px;">
              <div class="chikito"> ¿olvidaste tu contraseña? </div>
              <br>
               <button type="submit" class="boton"> <a href="/"> ingresar </a> </button> 
              <br>
              <br>
              
              <button type="text" class="boton2"> <a href="/register"> ¿Aun no tienes cuenta? </a> </button> 
              <br>
              <br>
            </form>
    </div> 
        </main>
        <br>
    <br>

        <%- include("./partials/footer") %>
    </body>
</html>