<!DOCTYPE html>
<html> 
    <head> 
        <meta charset="utf-8">
        <link href = "css/stylemati.css" rel = "stylesheet">
        <title> Register </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="pagina"> 
    <header class="header"> 
                <div class="cabeza">  <img width="100px" height="100px" src = "https://i.ibb.co/THR2bxf/logovegan.jpg" alt="logo">
                    <h1> </h1>
                </div>
    </header>         
    <main class="main">
            <div class="caja" align="center"> 
                <h1 class="ejemplo"> CREA TU CUENTA </h1>
            <form> 
        <div class="seccion"> 
            <div class="seccionuno"> 
                <input type="text" name="usuario" id="usuario" placeholder="nombre de usuario..." style="width: 230px; height: 35px; font-size:25px;">
                <br>
                <br>
                <input type="password" name="contraseña" id="contraseña" placeholder="contraseña..." style="width: 230px; height: 35px; font-size:25px;">
                <br>
                <br> 
                <input type="password" name="contraseña" id="contraseña" placeholder="confirme la contraseña..." style="width: 230px; height: 35px; font-size:21px;">
                <br>
                <br>
                <input type="email" name="correo" id="correo" placeholder="e-mail..." style="width: 230px; height: 35px; font-size:25px;">
                <br> 
            </div>
          
            <div class="secciondos"> 
                <input type="text" name="pais" id="pais" placeholder="país..." style="width: 230px; height: 35px; font-size:25px;">
                <br>
                <br>
                <input type="text" name="localidad" id="localidad" placeholder="localidad..." style="width: 230px; height: 35px; font-size:25px;">
                <br>
                <br>
                <input type="text" name="dirección" id="dirección" placeholder="dirección..." style="width: 230px; height: 35px; font-size:25px;">
                <br>
                <br>
                <select name="genero" style="width: 230px; height: 35px; font-size:20px;">
                    <option value="" disabled selected hidden>genero...</option>
                    <option  value="hombre"> hombre </option>
                    <option value="mujer"> mujer </option>
                    <option value="no"> prefiero no contestar</option>
                </select>
            </div>
        </div>
        <div class="seccioncita"> 
                <br> 
                <br>
            <div class="secciontres"> 
                <input type="checkbox" name="robot" value="no soy un robot">
                <label> No soy un robot</label>
            </div>
                <br>
            <div class="seccioncuatro"> 
                <input type="checkbox" name="robot" value="acepto">
                <label> Aceptar terminos y condiciones de uso y el reglamento de convivencia </label>
            </div>
        </div>
                <br>
                <button type="submit" class="boton"> <a href="/login">  registrarse </a> </button> 
                <br>
                <br>
            </form>
             </div>
    </main>

    <footer class="footer">
            <h1> </h1>
    </footer>

    </body>
</html>