*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f8edeb;
}
.header{
    padding: 10px;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin: auto;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

.logo img{
    width: 40%;
}

.nav-bar-top{
    margin: 5px;
    padding: 10px;
    display: flex; 
}

.nav-bar-top button{
    margin: 0px 10px;
    padding: 10px;
    display: flex;  
    align-content: center;
    border: none;
    border-radius: 60px;
    box-shadow: 0px 0px 3px 0.1px #07689f;

}

.nav-bar-top a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #07689f;
}

.search-bar{
    margin: 5px;
    display: flex;    
    padding: 10px;
    width: 80%;
    border-radius: 60px;
    background-color: #f8edeb;
}

.search-bar form{
    display: flex;
    justify-content: space-between;   
    width: 100%;
}

.search-bar input{
    background: transparent;
    width: 90%;
    font-size: 18px;
    padding: 5px;
    flex: 1; 
    border: none;
    outline: none;
}

.search-bar button{
    border: none;
    background: transparent;
    font-size: 24px;
    color: #07689f;
}

.main {
    margin: auto;
    max-width: 1000px;
}

.nav-bar-main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar-main ul{
    margin: 5px;
    padding: 5px;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
}

.nav-bar-main a{
    text-decoration: none;
    color: black;
}

.tiendas{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.market{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.top-tiendas{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.top-comidas{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.recetas{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.nosotros{
    background-image: url("http://marmacc.alwaysdata.net/city.jpg");
    background-size: cover;
    opacity: 0.7;
}

.footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fbfbfb;
    text-align: center;


}

@media (min-width: 460px) {
    .nav-bar-main{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}